<h1> Edit Staff members of library </h1>
<% if @staff.errors.any? %>
  <h2> The following reasons prevented the staff details to be saved </h2>
    <ul>
     <%= @staff.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
     <% end %>
    </ul>
<% end%>


<%= form_with(model: @staff, local: true) do |f| %>

  <p> 
    <%= f.label :Name %> <br/>
    <%= f.text_area :name %>
  </p>
    
  <p>
    <%= f.label :Email %> <br/>
    <%= f.text_field :email %>
  </p>
  
  <p> 
    <%= f.label :Phonenumber %> <br/>
    <%= f.text_field :phonenumber %>
  </p>

  <div class="field">    
    <%= f.label :gender %></br>
    <span class="option">Male<span><%= f.radio_button :gender, "Male" %></br>
    <span class="option">Female<span><%= f.radio_button :gender, "Female" %></br>
    <span class="option">Others<span><%= f.radio_button :gender, "Others" %></br>
  </div>

  <p>
    <%= f.label :Age%> <br/>
    <%= f.text_field :age %>
  </p>

    
  <p>
    <%= f.label :Date_of_birth %> <br/>
    <%= f.text_field :date_of_birth %>
  </p>

  

  <p> 
    <%= f.label :Address %> <br/>
    <%= f.text_area :address %>
  </p>


  <p>
    <%= f.submit "Update Staff" %>
  </p>
<% end %>