<h1> Showing staffs in Library</h1>

<p><strong> name: </strong> <%= @staff.name %></p>
<p> <strong> email: </strong> <%=@staff.email %></p>
<p><strong> phonenumber: </strong> <%= @staff.phonenumber %></p>
<p><strong> gender: </strong> <%=@staff.gender%>
<p><strong> age: </strong> <%=@staff.age%>
<p> <strong> date_of_birth: </strong> <%=@staff.date_of_birth %></p>
<p><strong> Address: </strong> <%= @staff.address%></p>

<p>
    <%= link_to 'Back' , staffs_path %>
  </p>