<h1> Showing Authors  in Library</h1>

<p><strong> name: </strong> <%= @author.name %></p>
<p><strong> gender: </strong> <%=@author.gender%>
<p><strong> age: </strong> <%=@author.age%>
<p> <strong> date_of_birth: </strong> <%=@author.date_of_birth %></p>
<p><strong> Address: </strong> <%= @author.address%></p>

<p>
  <%= link_to 'Back' , authors_path %>
</p>