<h1> <strong> Welcome to Library Application</strong></h1>

<p>
  <%= link_to "View Staff" , staffs_path  %>
</p>

<p>
  <%= link_to "View Authors" , authors_path  %>
</p>

<p>
   <%= link_to "View Books", books_path%> 
</p>

<p>
   <%= link_to "View Libraries", bookrooms_path%> 
</p>

<p>
  <%= link_to "View Locations" , locations_path%>
<p>
  <%= link_to 'See About Page' , about_path %>
</p>