<h1> Edit data in library </h1>
<% if @book.errors.any? %>
  <h2> The following reasons prevented the articles to be saved </h2>
    <ul>
     <%= @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
     <% end %>
    </ul>
<% end%>

<%= form_with(model: @book, local: true) do |f| %>

  <p> 
    <%= f.label :Title %> <br/>
    <%= f.text_area :title %>
  </p>
    
  <p>
    <%= f.label :Authors%> <br/>
    <%= f.collection_select  :topic, Author.all, :id, :name %>
  </p>
  
  <p> 
    <%= f.label :Pages %> <br/>
    <%= f.text_field :pages %>
  </p>
    
  <p>
    <%= f.label :Published_on %> <br/>
    <%= f.text_field :date_of_publication %>
  </p>
  
  <p> 
    <%= f.label :Summary %> <br/>
    <%= f.text_area :summary %>
  </p>

  <div class="field">    
    <%= f.label :Rent %></br>
    <span class="option">Yes<span><%= f.radio_button :rent, "Yes" %></br>
    <span class="option">No<span><%= f.radio_button :rent, "No" %></br>
  </div>

  <p>
    <%= f.submit %>
  </p>

  <p>
    <%= link_to 'Back' , books_path %>
  </p>

<% end %>