<h1> Showing Books in Library</h1>

<p><strong> Title: </strong> <%= @book.title %></p>
<p> <strong> Author: </strong> <%=@book.author.name if @book.author %></p>
<p><strong> Pages: </strong> <%= @book.pages %></p>
<p> <strong> Published: </strong> <%=@book.date_of_publication %></p>
<p><strong> Summary: </strong> <%= @book.summary %></p>
<p> <strong> Rent: </strong> <%=@book.rent %></p>

<p>
    <%= link_to 'Back' , books_path %>
  </p>