<tr id="company-<%= company.id %>">
  <td><%= company.name %></td>
  <!-- Button trigger for company show modal-->
  <td><%= link_to 'Show', company_path(company), class: 'btn btn-info', data: {remote: true, bs_toggle: "modal", bs_target: "#showcompany-#{company.id}"} %></td>
  <!-- Button trigger for edit company modal -->
  <td><%= link_to 'Edit', edit_company_path(company), class: 'btn btn-primary', data: {remote: true, bs_toggle: "modal", bs_target: "#editcompany-#{company.id}" } %></td>
  <td><%= link_to 'Delete', company_path(company) , method: :delete , data: { remote: true,confirm: "Are you sure?"}, class: 'btn btn-danger'%></td>
</tr>

<!-- Edit Company Modal -->
<div class="modal fade" id="editcompany-<%= company.id %>" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit company Details</h5>
        <button type="button" class="closeEditForm" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="editerrors-<%= company.id %>"></div>
        <div class="container">
          <div class="row justify-content-center mt-4 ">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header">Edit company Details</div>
                <div class="card-body">
                  <%= form_with(model: company, data: { remote: true}, method: :patch, id: 'edit-form' ) do |f| %>
                    <div class="form-group"> 
                      <%= f.label :Name %> <br/>
                      <%= f.text_field :name, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label :Region %>
                      <%= f.collection_select :region_ids, Region.all, :id, :name, {prompt: "Select regions"}, {include_hidden: false, multiple: true, class: "form-control", id: "region-#{company.id}"} %>
                    </div>
                    <div class="form-group">
                      <%= f.label :Location %>
                      <%= f.collection_select(:location_ids, Location.where(region_id: company.regions.pluck(:id)), :id, :name, {include_blank: "Select Locations"}, {multiple: true, class: "form-control", id: "location-#{company.id}"}) %>
                    </div>
                    <div class="card-footer text-muted">
                      <%= f.submit " Update company", class: 'btn btn-primary'%>
                      <%= link_to 'Back', libraries_path, class: 'btn btn-secondary' %>          
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script>
    $(document).on('change', '#region-<%= company.id %>', function getLocations() {
      var selectedRegions = $(this).val();
      $.ajax({
        url: "/locations_by_region",
        method: "GET",
        data: { regions: selectedRegions },
        success: function(data) {
          $("#location-<%= company.id %>").html(data);
        }
      });
    });
  </script>
</div>

<!-- Company Show page modal -->
<div class="modal fade" id="showcompany-<%= company.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Company Details</h4>
        <button type="button" id= "closeShowForm" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="container mt-5">
        <div class="card">
          <div class="card-header"> 
            <h1 class="card-title"><%= company.name %></h1>
          </div>
          <% if company.regions.any? %>
            <h2 class="card-subtitle mb-2 text-muted"> List of all regions of <%= company.name %>
            <% company.regions.each do |region| %>
              <li>
                <%= region.name %>
              </li>
            <% end %>
          <% end %>
          <% if company.locations.any? %>
            <h2 class="card-subtitle mb-2 text-muted"> List of all locations of <%= company.name %>
            <% company.locations.each do |location| %>
              <li>
                <%= location.name %>
              </li>
            <% end %>
          <% end %>
          <div class="card-footer text-muted">
            <%= link_to 'Back', libraries_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>