<h1> List of all Companies </h1>
<table class="table">
  <thead>
    <tr>
      <th> Name </th>
      <th colspan=3> Actions </th>
    </tr>
    <tr>
  </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
      <td><%= company.name %></td>
      <td><%= link_to 'Show', company_path(company), class: 'btn btn-info' %></td>
      <td><%= link_to 'Edit', edit_company_path(company), class: 'btn btn-primary' %></td>
      <td><%= link_to 'Delete', company_path(company) , method: :delete , data: {confirm: "Are you sure?"}, class: 'btn btn-danger'%></td>
        </tr>
      <% end %>
      
    </tbody>
</table>

<p>
  <%= link_to 'Add new Company' , new_company_path, class: 'btn btn-primary'%>
</p>

<p><%= link_to "View Regions" , regions_path, class: 'btn btn-info'%>
<p>
  <%= link_to 'Home' , root_path, class: 'btn btn-warning'%>
</p>