<h1> List of all Companies </h1>
<table>
  <thead>
    <tr>
      <th> Name </th>
      <th colspan=3> Actions </th>
    </tr>
    <tr>
  </thead>
    <tbody>
      <% @company.each do |company| %>
        <tr>
      <td><%= company.name %></td>
      <td><%= link_to 'Show', company_path(company) %></td>
      <td><%= link_to 'Edit', edit_company_path(company) %></td>
      <td><%= link_to 'Delete', company_path(company) , method: :delete , data: {confirm: "Are you sure?"}%></td>
        </tr>
      <% end %>
      
    </tbody>
</table>


<p>
  <%= link_to 'Add new Company' , new_company_path %>
</p>

<p>
  <%= link_to 'Home' , root_path %>
</p>