<h1> Add New Library </h1>

<%= form_with scope: :company, url: companies_path, local: true do |f| %>
  <p> 
    <%= f.label :Name %> <br/>
    <%= f.text_area :name %>
  </p>

  <p> 
    <%= f.label :Locations %> <br/>
    <%= f.select :location_ids, Location.all.collect {|x| [x.place, x.id]}, {}, :multiple => true %>
  </p>

  <p>
    <%= f.submit "Add Library" %>
  </p>

  <p>
    <%= link_to 'Back' , companies_path %>
  </p>
  
<% end%>