<h1><strong><%= @company.name %> </strong></h1>

<p> List of all Locations of <%= @company.name%> </p>
  <% @company.locations.each do |location| %>
    <table>
      <tr>
        <td><%= location.place %></td>
     </tr>
    </table>
  <% end %>
<p>
   <%= link_to "View Books", books_path%> 
</p>

<p>
  <%= link_to "View Authors" , authors_path(@author)  %>
</p>

<p>
  <%= link_to "View Staff" , staffs_path  %>
</p>

<p>
  <%= link_to 'Home' , root_path %>
</p>




