<h1> Edit Location </h1>

  <%= form_with(model: @location, local: true) do |f| %>

  <p> 
    <%= f.label :Name %> <br/>
    <%= f.text_area :name %>
  </p>

  <p> 
    <%= f.label :Region %> <br/>
    <%= f.select :region_id, Region.all.collect {|x| [x.name, x.id]}, {} %>
  </p>


  <p>
    <%= f.submit "Update Location name" %>
  </p>

  <p>
    <%= link_to 'Back' , locations_path %>
  </p>

<% end %>